@theme {
  --color-primary-100: oklch(25.884% 0.06231 286.582);
  --color-primary-200: oklch(41.035% 0.12076 285.229);
  --color-secondary-50: oklch(94.556% 0.0124 75.237);
  --color-secondary-100: oklch(92.763% 0.12484 108.625);
  --color-secondary-200: oklch(80.588% 0.14701 78.988);
  --color-tertiary-100: oklch(44.084% 0.01805 293.933);
  --color-warning-50: rgba(119, 255, 0, 0.2);
  --color-black-op: rgba(0, 0, 0, 0.2);
  --color-black-op-100: rgba(0, 0, 0, 0.1);
  --spacing-8xl: 1440px;
  --text-xxs: 0.6rem;
  --autofit-min: repeat(auto-fit, minmax(300px, 1fr));
  --breakpoint-xxs: 400px;
}

@custom-variant child (& > *);
@custom-variant child-hover (&:hover > *);
@custom-variant child-path (& > g > path);
@custom-variant child-path-hover (&:hover > g > path);
